.main {
    display: flex;
}

.formAndEntry{
    flex: 3;
}

.form{
    border: black;
    padding: 2em;
}

.entries{
    padding: 2em;
}

.listOfEntries{
    flex: 3;
}
.header {
    display: flex;
    flex-wrap: wrap;
}

.logo {
    height: 14em;
    width: 17em;
}

 .name{
     font-size: 5em;
     font-family: 'Homemade Apple', cursive;
 }
