@import "./entries.css";

.header {
    display: flex;
    flex-wrap: wrap;
}

.logo {
    height: 14em;
    width: 17em;
}

 .name{
     font-size: 5em;
     font-family: 'Homemade Apple', cursive;
 }
 
 body,
 button,
 input,
 select,
 textarea {
     color: #557a95;
     font-family: "Comfortaa", Arial, sans-serif;
     font-size: 1rem;
     line-height: 1.5;
 }
 
 input {
     width: 36.5rem;
 }
 select{
    width: 36.5rem;
 }

 button{
    width: 8rem;
 }
 
 textarea {
     width: 36.5rem;
     height: 7rem;
 }
 
 h1,h2,h3,h4,h5,h6 {
   font-family: "Patua One", serif;
   letter-spacing: 2px;
   color:  #7395ae;
 }
 .footer{
    display: flex;
    justify-content: center;
 }
 .flower{
     height: 10rem;
     width: 18;
 }

